---
import Layout from "../layouts/Layout.astro";
import { encrypt } from "../lib/crypto";
import { SECRET } from "astro:env/server";

let result: string | null = null;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const apiKey = data.get("api-key")!;
    const projectId = data.get("project-id")!;

    if (typeof apiKey !== "string" || typeof projectId !== "string") {
      throw new Error("invalid form arguments");
    }

    const text = apiKey + ";" + projectId;
    result = await encrypt(text, SECRET);
  } catch (error) {
    if (error instanceof Error) console.error(error.message);
  }
}
---

<Layout>
  <h1>Todoist Viewer: Create</h1>

  <form method="POST">
    <input type="text" name="api-key" placeholder="API Key" />
    <input type="text" name="project-id" placeholder="Project ID" />
    <button>Submit</button>
  </form>

  {
    result !== null && (
      <p>
        Result: <code>{result}</code>
      </p>
    )
  }
</Layout>
